.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    text-decoration: none;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
}

.card-list-info {
  width: 300px;
  height: 150px;
  padding: 10px;
  margin: 5px 5px 0 5px;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  text-align: center;
  color: white;
}

.card-list-links {
  text-align: end;
  position: relative;
  padding: 0 10px 0 10px;
  margin: 0 5px 5px 5px;
  border: 1px solid orange;
  border-radius: 0 0 10px 10px;
  font-size: 20px;

  a {
    margin: 5px;
  }
}

// p with card color info
// it was the only way to access the info for JS
#card-color-list {
  display: none;
}

// colors for user to choose
.orange-card {
  color: orange;
}

.red-card {
  color: red;
}

.gray-card {
  color: gray;
}

.black-card {
  color: black;
}
